# DB
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Storage
MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=marula-raw
MINIO_SECURE=true
MINIO_BROWSER_REDIRECT_URL=

# Energy Charts API
ENERGY_CHARTS_BASE_URL=https://api.energy-charts.info
ENERGY_CHARTS_TIMEOUT_SECONDS=30
